.main-color
{
	background: #f88496;
	color:white;
}

.main-color-text
{
	color: #f88496;
}

.main-hover-text:hover
{
	color:#f88496;
}

.accent-text-color
{
	color:#232323 !important;
}

.accent-color
{
	background:#232323;
	color:white;
}