a
{
	text-decoration: none;
}

.row
{
	margin-left:0px !important;
}

/* my text params*/

 @font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(fonts/9623.ttf); /* Путь к файлу со шрифтом */
   }
	@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

    @import url(https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext,cyrillic);
    @import url(https://fonts.googleapis.com/css?family=Roboto:700&subset=latin,cyrillic-ext,cyrillic);

.my-small-text
{
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

.my-middle-text
{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

.block-big-text
{
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}

.block-small-text
{
	font-size: 16px;
	font-family: 'Playfair Display', serif;
}

.second-word
{
	font-size: 20px;
	font-family: 'Lobster', cursive;
	font-style:oblique
}

.mylatotext
{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

/* main menu */

.but-nav-top
{
	margin:20px;
}


.but-nav-top40
{
	margin:40px;
}

.but-nav-top:hover
{
	color:#f88496 !important;
	text-decoration: none !important;
}
.but-nav-top40:hover
{
	color:#f88496 !important;
	text-decoration: none !important;
}

.nav-margin-top
{
	margin-top:10px;
}

.nav-margin-top50
{
	margin-top:50px;
}

.nav-margin-top30
{
	margin-top:32.8px;
}

.bot-line
{
	box-shadow: 0px 1px 0px 0px #f4f4f4;
}

/* content*/

/*slider*/

.slider
{
	width:100%;
	max-height: 650px;
	position: relative;
}
.slider .bx-controls, .carousel-container .bx-controls{
	display:none;
}
.slider .bx-wrapper .bx-viewport, .carousel-container .bx-wrapper .bx-viewport{
	box-shadow: none;
	left:0;
	border: none;
}
.slider-selectors{
	display:flex;
	flex-direction: row;
	justify-content: space-between;;
	align-items: center;
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
}
.slider-selectors a{
	width:30px;
	height:55px;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
}
#top-slider-left{
	margin-left: 40px;
}
 #top-slider-left a{
	 background-image: url(../image/top-slider-arrow-left.png);
 }
 #top-slider-left:hover a{
	 background-image: url(../image/top-slider-arrow-left-hover.png);
 }
 #top-slider-right, #top-slider-right-hover{
	 margin-right: 40px;
 }
 #top-slider-right a{
	background-image: url(../image/top-slider-arrow-right.png);
 }
 #top-slider-right:hover a{
	background-image: url(../image/top-slider-arrow-right-hover.png);
 }
#bottom-slider-pager{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.bottom-slider .bx-wrapper{
	margin-bottom: 38px;
}
.bottom-slider .slider-selectors{
	height: 385px;
}
#bottom-slider-pager a img{
	width: auto;
	height:72px;
}
#bottom-slider-left{
	margin-left: 20px;
}
#bottom-slider-left a{
	background-image: url(../image/top-slider-arrow-left.png);
}
#bottom-slider-left:hover a{
	background-image: url(../image/top-slider-arrow-left-hover.png);
}
#bottom-slider-right, #top-slider-right-hover{
	margin-right: 20px;
}
#bottom-slider-right a{
	background-image: url(../image/top-slider-arrow-right.png);
}
#bottom-slider-right:hover a{
	background-image: url(../image/top-slider-arrow-right-hover.png);
}

.carousel-container{
	position: relative;
}
.carousel-controls{
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	position: absolute;
	top:0;
}
.carousel-controls a{
	width: 40px;
	height:40px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
#carousel-left{
	margin-top: 23px;
}
#carousel-left a{
	background-image: url(../image/carousel-arrow-up.png);
}
#carousel-left:hover a{
	background-image: url(../image/carousel-arrow-up-hover.png);
}
#carousel-right{
	margin-bottom: 23px;
}
#carousel-right a{
	background-image: url(../image/carousel-arrow-down.png);
}
#carousel-right:hover a{
	background-image: url(../image/carousel-arrow-down-hover.png);
}
/* the most orded*/

.block
{
	padding:30px;
	width: 100%;
}

.block:hover
{
	box-shadow: 0px 0px 0px 3px #000000;
}


/* our-features
*/


.top-bot-line
{
	border-style: solid;
	 border-width: 2px 0px 2px 0px;
	 border-color: #f4f4f4;
}

.features-block
{
	padding:30px;
	border:2px solid #f4f4f4;
	background: white;
	z-index:3;
}

.myzigzag
{
	color: #f88496;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-style: bold;

}

.minus-margin
{
	margin-top:-45px;
}

.back-image
{
	margin-top:-380px;
	z-index:1;
}
/* the most popular*/

.main-block
{
	margin-top: 60px;
	background:#f8f8f8;
	padding-top: 60px;
	padding-bottom: 70px;
}

.let-mar
{
	margin-left: 100px;
}

.name-of-product
{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}

.my-prise
{
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.old-prise
{
	text-decoration: line-through;
	color:#b9b9b9;
	margin-left: 20px;
}

.let-mar-inf
{
	margin-left: 20px !important;
}

/* Dropdown Button */
.dropbtn {
	background:#f8f8f8;
    color: #a9a9a9;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #a9a9a9;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #f4f4f4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.float-left
{
	float:left;
	width: 200px;
}

.full-width
{
	width: 80%;
}

.but-popular
{
	padding:10px;
	width:150px;
	float:left;
}

.margin-top
{
	margin-top:38px;
}

/*footer*/

.footer
{
	margin-top:70px;
	padding-top:70px;
	padding-bottom: 70px;
	background: #232323;
	border-style: dashed;
	border-width: 2px 0px 0px 0px;
	border-color: #f88496;
}

input {
 padding: 6px;
 font-size: 12px;
 background: #282828;
 outline: none;
 color: #b9b9b9;
 width: 50%;
 position: absolute;
 left: 25%;
 float: left;
 border:none !important;
}
.block
{
	padding:7px;
	font-size: 10px;
	float:right;
}

.float-left-my
{
	float:left;
}