.small-line
{
	float: left;
	background: #f4f4f4;
	color:#3f3f3f;
	width:70%;
	padding: 15px;
	font-size: 12px;
	text-align: right;
}

.title-cotolog{
	margin-top: 40px;
}

.first-title{
	margin-top: 0;
}

.float-right
{
	float:right;
}

.black-box
{
	float: left;
	background: #232323;
	color:white;
	width:30%;
	padding: 15px;
	font-size: 12px;
}

.mar-left-30{
	margin-left: 30px !important;
}

.title-catalog
{
	font-size: 14px;
	color:#232323;
	font-family: 'Lato', sans-serif;
}

.float-right-arrow
{
	float:right;
	margin-top:10px;
}

.catalog-punkt
{
	margin-top: 10px;
	margin-left:20px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color:#232323;
}

.categories
{
	margin-left:12px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color:#232323;
}

.categories:hover
{
	color:#f88496;
}

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 3px;
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox1 {
    display: none;
}


.checkbox-custom1 {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 3px;
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom1,
.label {
    display: inline-block;
    vertical-align: middle;
}


.label{
	padding-left: 5px;
	margin-left: 0;
}

.label img{
	margin-right: 5px;
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */

    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background: #413548;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}

.checkbox1:checked + .checkbox-custom1::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */

    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background: #413548;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}


.padding-bot
{
	padding-bottom: 20px;
}
#slider.noUi-horizontal{
	height: 6px;
}
#slider.noUi-horizontal .noUi-handle{
	width:12px;
	height: 14px;
	border-radius: 0px;
	background-color:#000;
	box-shadow: none;
	border:none;
	left: -9px;
}
#slider .noUi-connect{
	background: #ccc;
}
.noUi-horizontal .noUi-handle::before{
	content: none;
}
.noUi-horizontal .noUi-handle::after{
	position: absolute;
	top:13px;
	left: 0px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	background:transparent;
	border-top-color: #000;
	border-bottom: 0;
}

.products{
	margin-top: 40px;
}

.col-lg-5.product
{
	margin-left:60px;
}

.product-info{
	margin-left: 5px;
}

.placeholder .row{
	display: flex;
	padding-top: 100px;
}

.like{
	margin-left: 75px;
	background-image: url(../image/like-ico.png);
}

.bag{
	margin-left: 8px;
	background-image: url(../image/bag.png);
}

.placeholder{
	height: 600px;
	width: 450px;
	background:url(../image/dress-new.jpg);
	background-size: 100% 100%;
	float: left;
}

.placeholder .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder:hover .row div{
	display: block;
}

.placeholder:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.placeholder1{
	height: 600px;
	width: 450px;
	background:url(../image/dress2.jpg);
	background-size: 100% 100%;
	
}

.placeholder1 .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder1:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder1:hover .row div{
	display: block;
}

.placeholder1:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder1:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.placeholder2{
	height: 600px;
	width: 450px;
	background:url(../image/dress-black.jpg);
	background-size: 100% 100%;
}

.placeholder2 .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder2:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder2:hover .row div{
	display: block;
}

.placeholder2:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder2:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.placeholder3{
	height: 600px;
	width: 450px;
	background:url(../image/dress-brain.jpg);
	background-size: 100% 100%;
}

.placeholder3 .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder3:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder3:hover .row div{
	display: block;
}

.placeholder3:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder3:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.placeholder4{
	height: 600px;
	width: 450px;
	background:url(../image/dress-2.jpg);
	background-size: 100% 100%;
}

.placeholder4 .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder4:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder4:hover .row div{
	display: block;
}

.placeholder4:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder4:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.placeholder5{
	height: 600px;
	width: 450px;
	background:url(../image/dress3.jpg);
	background-size: 100% 100%;
}

.placeholder5 .row div{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.placeholder5:hover{
	background-color: #f9e3e7;
	cursor: pointer;
}

.placeholder5:hover .row div{
	display: block;
}

.placeholder5:hover .row .like:hover{
	background-color: #f88496;
	background-image: url(../image/like-ico2.png);
}

.placeholder5:hover .row .bag:hover{
	background-color: #f88496;
	background-image: url(../image/bag1.png);
}

.name-of-product{
	margin-top: 25px;
	font-size: 18px;
}

.my-prise{
	position: relative;
}

.my-prise .main-color-text{
	font-size: 18px;
}

.old-prise{
	font-size: 15px;
	margin-left: 5px;
}

.info-icons{
	position: absolute;
	top: 10px;
	right: 0;
}

.let-mar-inf{
	margin-left: 10px !important;
}

.prise-slider{
	margin-top: 50px;
}




.left-float-size
{
	float:left;
}


.flex-item-product{
  padding: 5px;
  width: 450px;
  margin-top: 10px;
  line-height: 1;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}